$breakpoint-xsmall: 320px;
$breakpoint-small:  700px;
$breakpoint-medium: 960px;


@mixin small{
  @media screen and (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin medium {
  @media screen and(max-width: $breakpoint-medium) {
    @content;
  }
}

@function columnWidth($columnSpan) {
  @return ($columnSpan * 1/12 * 100%);
}

@mixin row() {

}

@mixin column($columnSpan) {
  float:left;

  display: block;
  width: columnWidth($columnSpan);
}


@mixin column-small($columnSpan) {
  @include small{
    width: columnWidth($columnSpan);
  }
}
