@import "functions";
@import "grid";

@include exports("mainlayout") {
  html {
    overflow-x: hidden;
  }

  body {
    font-family: Lato, 'Helvetica Neue', sans-serif;
    font-weight: 100;

    @include small {
      font-weight: 200;
    }
  }
}
