/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p + p {
  margin-top: 1em; }

#fixednav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #fff;
  z-index: 100;
  transition: top 0.2s;
  box-shadow: 0 0 3px #333; }
  #fixednav.hidden {
    top: -100px; }
  #fixednav a {
    display: block;
    padding: 10px;
    color: #556688;
    text-decoration: none;
    font-size: 30px; }

#frontpage-heading {
  color: #556688;
  position: absolute;
  top: 0;
  left: 0;
  right: 400px; }
  #frontpage-heading span {
    display: block;
    white-space: nowrap; }
  @media screen and (max-width: 700px) {
    #frontpage-heading {
      right: 0; } }

#frontpage-gruesz-gott {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 50px; }
  @media screen and (max-width: 950px) {
    #frontpage-gruesz-gott {
      display: none !important; } }

#frontpage-heading-namegroup {
  position: absolute;
  right: 0;
  top: -20px; }
  @media screen and (max-width: 950px) {
    #frontpage-heading-namegroup {
      left: 0; } }
  #frontpage-heading-namegroup #frontpage-ich-heisze {
    font-size: 50px;
    color: #ccc;
    position: absolute;
    right: 480px;
    top: 130px; }
    @media screen and (min-width: 1400px) {
      #frontpage-heading-namegroup #frontpage-ich-heisze {
        font-size: 60px;
        right: 500px;
        top: 120px; } }
    @media screen and (max-width: 1100px) {
      #frontpage-heading-namegroup #frontpage-ich-heisze {
        font-size: 50px;
        top: 110px;
        right: 0; } }
    @media screen and (max-width: 950px) {
      #frontpage-heading-namegroup #frontpage-ich-heisze {
        display: none; } }
  #frontpage-heading-namegroup #frontpage-name {
    font-size: 100px;
    position: absolute;
    right: 0;
    top: 150px;
    color: #333; }
    @media screen and (max-width: 950px) {
      #frontpage-heading-namegroup #frontpage-name {
        left: 0;
        top: 100px;
        font-size: 80px;
        text-align: center; } }
    @media screen and (max-width: 920px) {
      #frontpage-heading-namegroup #frontpage-name {
        font-size: 60px; } }
    @media screen and (max-width: 700px) {
      #frontpage-heading-namegroup #frontpage-name {
        top: 160px; } }
    @media screen and (max-width: 320px) {
      #frontpage-heading-namegroup #frontpage-name {
        font-size: 50px; } }

#frontpage-heading-jobgroup {
  position: absolute;
  right: 0;
  top: 250px; }
  @media screen and (max-width: 950px) {
    #frontpage-heading-jobgroup {
      left: 0;
      top: 200px; } }
  #frontpage-heading-jobgroup #frontpage-jobtitle {
    font-size: 40px;
    color: #444; }
    @media screen and (max-width: 950px) {
      #frontpage-heading-jobgroup #frontpage-jobtitle {
        left: 0;
        right: 0;
        text-align: center; } }
    @media screen and (max-width: 920px) {
      #frontpage-heading-jobgroup #frontpage-jobtitle {
        font-size: 30px; } }
    @media screen and (max-width: 800px) {
      #frontpage-heading-jobgroup #frontpage-jobtitle {
        font-size: 20px; } }
  #frontpage-heading-jobgroup #frontpage-und-bin {
    color: #ccc;
    position: absolute;
    left: -20px;
    top: -20px; }
    @media screen and (max-width: 950px) {
      #frontpage-heading-jobgroup #frontpage-und-bin {
        display: none; } }

#frontpage-image {
  background-image: url(../lukas.jpg);
  width: 400px;
  height: 400px;
  border-radius: 400px;
  background-size: 400px;
  position: absolute;
  right: -60px;
  top: -60px; }
  @media screen and (max-width: 700px) {
    #frontpage-image {
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -70px;
      width: 140px;
      height: 140px;
      border-radius: 140px;
      background-size: 140px; } }

#frontpage-content {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  height: 1200px;
  background-color: #556688; }

#frontpage-about {
  float: left;
  display: block;
  width: 66.66667%;
  font-size: 30px;
  line-height: 1.2;
  text-align: justify;
  color: #fff;
  padding: 100px; }
  @media screen and (max-width: 700px) {
    #frontpage-about {
      width: 100%; } }
  @media screen and (max-width: 960px) {
    #frontpage-about {
      padding: 50px;
      font-size: 25px; } }
  @media screen and (max-width: 700px) {
    #frontpage-about {
      font-size: 20px; } }

#frontpage-aboutme {
  float: left;
  display: block;
  width: 33.33333%;
  padding-right: 100px;
  padding-top: 100px;
  font-size: 30px;
  color: #ccaf77; }
  @media screen and (max-width: 700px) {
    #frontpage-aboutme {
      width: 100%; } }
  @media screen and (max-width: 700px) {
    #frontpage-aboutme {
      padding: 40px;
      margin-top: -60px; } }
